<h1>Dashboard</h1>

<% if @eventbrite_auth_url %>
  <%= link_to "Connect to Eventbrite", @eventbrite_auth_url %>
<% end %>

<ul class="events">
  <% @events.each do |event| %>
    <li data-id="<%= event.id %>">
      <%= event.name %>
      <% if event.active? %>
        <%= link_to "Enable Kiosk Mode", event_kiosk_path(event) %>
        <%= link_to "Deactivate", event_deactivation_path(event), method: :post %>
      <% else %>
        <%= link_to "Activate", event_activation_path(event), method: :post %>
      <% end %>
    </li>
  <% end %>
</ul>
